body {
    background-image: url(./assets/spacecanvas.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -22lh;
    background-color: aliceblue;
}

.nav-item .nav-link {
    color: white;
    font-size:large;
    font-family:Arial, Helvetica, sans-serif
}

.nav-item .nav-link.active {
    background-color:salmon;
}

.hero {
    margin-top: 250px;
    margin-bottom: -50px
}